<main class="main">
  <div class="inner">
    
      <div class="greeting">
        <%= "こんにちは、" %>
    <% if user_signed_in? %>
        <%= link_to current_user.name, user_path(current_user.id), class: :greeting__link%>
      <%= "さん" %>
      </div>
    <% end %>
      <div class="card__wrapper">
        <% @prototypes.each do |prototype| %>
          <%= render partial: "prototype", locals: { prototype: prototype }%>
        <% end %>
        <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      </div>
    
  </div>
</main>
